<!DOCTYPE html>
<html>
  <head>
    <title>SurveyMonkeyClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="text-lg-right">
          <a href="/surveys" class="btn btn-primary">Ana Sayfaya Dön</a>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
